body{
    margin: 0px;
    background-color: black;
}
#content{
    width: 100%;
    height: 100vh;
    background-image: url('images/sushi.jpg');
    background-size: 100%;
}
#topBar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    height: 110px;
    color: white;
}  
#mainContent{
    display: flex;
    align-items: center;
    flex-direction: column;
}   
#topBar>div{
    margin: 40px;
    font-size: 32px;
}
#title{
    margin-top: 140px;
    font-size: 200px;
    color: red; 
}
#description{
    color: white;
    font-size: 18px;
    padding: 0px 200px 0px 200px;
}
#menuContainer{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    align-items:center;
    height: 600px;
    width: 1050px;
    margin: 40px;
}   
#dishes{
    background-color: cadetblue;
    margin: 10px;
    width: 330px;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dishName{
    font-size: 20px;
}
#dishContent{
    font-size: 16px;
}
#dishes>img{
    height: max-content;
    width: 320px ;
}
#contactContainer{
    background: rgba( 255, 255, 255, 40%);
    height: 540px;
    width: 500px;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 140px;
    padding-top: 60px;
}  
#wording{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
 
